$base_color: #101010;
// $primary_color: #e4809d;
$secondary_color: #767676;
$text_color: #f5f5f5;
:root {
  --main: var(--first);
  --first: #f185bb;
  --second: #6495ED;
  --third: #5dec8d;
  --fourth: #a568d6;
}
