:root {
  --main: var(--first);
  --first: #f185bb;
  --second: #6495ED;
  --third: #5dec8d;
  --fourth: #a568d6;
}

* {
  background-color: #101010;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

::-webkit-scrollbar {
  background-color: #101010;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 25px;
}

.radial {
  position: fixed;
  z-index: 20;
  bottom: 50px;
  right: 50px;
}
.radial .triggerButton {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
}
.radial .triggerButton i {
  color: var(--main);
}
.radial .radialMenu {
  background-color: transparent;
  --width: 250px;
  width: var(--width);
  height: var(--width);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radial .radialItem {
  list-style: none;
  position: absolute;
  background-color: transparent;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.radial .radialItem .pink {
  background-color: var(--first);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
}
.radial .radialItem a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #ff4081;
  border-radius: 50%;
  text-decoration: none;
}
.radial .radialItem .blue {
  background-color: var(--second);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
}
.radial .radialItem .green {
  background-color: var(--third);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
}
.radial .radialItem .purple {
  background-color: var(--fourth);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
}
.radial.active .radialItem {
  --angle: 0deg;
  --point-size: 60px;
  --countItem: 8;
  --radius: calc((var(--width) / 2) - (var(--point-size) / 2));
  --x: calc(var(--radius) * cos(var(--angle)));
  --y: calc(var(--radius) * sin(var(--angle)));
  top: calc(var(--radius) + var(--y) + var(--point-size) / 2);
  left: calc(var(--radius) + var(--x) + var(--point-size) / 2);
  width: var(--point-size);
  height: var(--point-size);
}
.radial.active .radialItem:nth-child(1) {
  --angle: 275deg;
}
.radial.active .radialItem:nth-child(2) {
  --angle: 240deg;
}
.radial.active .radialItem:nth-child(3) {
  --angle: 205deg;
}
.radial.active .radialItem:nth-child(4) {
  --angle: 170deg;
}

.page-transition {
  position: fixed;
  z-index: 50;
  animation: page 1s linear;
  top: 0;
  left: 0;
  display: none;
  border-top: 100vh solid var(--main);
  border-right: 200px solid transparent;
  height: 100vh;
  width: 150%;
}

@keyframes page {
  0% {
    width: 0;
  }
  100% {
    width: 150%;
  }
}
.admin-projects .container p {
  font-size: 50px;
  color: var(--main);
  text-align: center;
}
.admin-projects .container .form {
  padding-bottom: 50px;
}
.admin-projects .container .form input[type=file]::file-selector-button {
  background-color: var(--main);
}
.admin-projects .container .form .form-label {
  font-size: 22px;
  color: var(--main);
  text-align: center;
}
.admin-projects .container .form .form-control {
  background-color: #000;
  border: 3px solid #000;
  color: var(--main);
}
.admin-projects .container .form .form-control:focus {
  -webkit-box-shadow: none;
}
.admin-projects .container .form .btn-submit {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: #000;
  color: var(--main);
  font-weight: bold;
  border: 1px solid var(--main);
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.admin-projects .container .form .btn-submit:hover {
  background: var(--main);
  color: #000;
  box-shadow: 0 0 20px var(--main);
}
.admin-projects .container .projects .table {
  border: none !important;
  color: var(--main);
  background-color: #101010;
}
.admin-projects .container .projects .table .project .edit-btn {
  padding: 5px 10px;
  background-color: #000;
  color: var(--main);
  font-weight: bold;
  border: 1px solid var(--main);
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.admin-projects .container .projects .table .project .edit-btn:hover {
  background: var(--main);
  color: #000;
}
.admin-projects .container .projects .table .project .delete-btn {
  padding: 5px 10px;
  background-color: #000;
  color: var(--main);
  font-weight: bold;
  border: 1px solid var(--main);
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.admin-projects .container .projects .table .project .delete-btn:hover {
  background: var(--main);
  color: #000;
}/*# sourceMappingURL=style.css.map */