.admin-projects {
  .container {
    p {
      font-size: 50px;
      color: var(--main);
      text-align: center;
    }
    .form {
      padding-bottom: 50px;
      input[type="file"]::file-selector-button {
        background-color: var(--main);
      }

      .form-label {
        font-size: 22px;
        color: var(--main);
        text-align: center;
      }
      .form-control {
        background-color: #000;
        border: 3px solid #000;
        color: var(--main);
        &:focus {
          -webkit-box-shadow: none;
        }
      }
      .btn-submit {
        margin-top: 20px;
        padding: 15px 40px;
        background-color: #000;
        color: var(--main);
        font-weight: bold;
        border: 1px solid var(--main);
        border-radius: 5px;
        letter-spacing: 4px;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          background: var(--main);
          color: #000;
          box-shadow: 0 0 20px var(--main);
        }
      }
    }
    .projects {
      .table {
        border: none !important;
        color: var(--main);
        background-color: $base_color;
        .project {
          .edit-btn {
            padding: 5px 10px;
            background-color: #000;
            color: var(--main);
            font-weight: bold;
            border: 1px solid var(--main);
            border-radius: 5px;
            letter-spacing: 4px;
            overflow: hidden;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              background: var(--main);
              color: #000;
            }
          }
          .delete-btn {
            padding: 5px 10px;
            background-color: #000;
            color: var(--main);
            font-weight: bold;
            border: 1px solid var(--main);
            border-radius: 5px;
            letter-spacing: 4px;
            overflow: hidden;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              background: var(--main);
              color: #000;
            }
          }
        }
      }
    }
  }
}
