.about-page {
  .page {
    .container {
      footer {
        border-top: 2px dotted $primary_color;
        padding: 20px 0 1px 0;
        text-align: center;
        p {
          color: $text_color;
          font-size: 25px;
          font-weight: 100;
          span {
            font-weight: 900;
            color: $primary_color;
          }
        }
      }
    }
  }
}
