.home-page {
  .container {
    height: 100vh;
    .main-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 35%;
      .text {
        z-index: 10;
        background-color: transparent;
        font-size: 70px;
        font-weight: 900;
        color: $text_color;
        .text-name {
          color: $primary_color;
          z-index: 10;
          background-color: transparent;
        }
      }
      #text {
        z-index: 10;
        background-color: transparent;
        display: flex;
        gap: 8px;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        color: $text_color;
        #app {
          animation: textclip 2s linear infinite;
          background-color: transparent;
          color: $primary_color;
          .Typewriter__wrapper {
            background-color: transparent;
          }
        }
      }
      .icons {
        z-index: 10;
        background-color: transparent;
        a {
          background-color: transparent;
          border: none;
          transition: all 0.4s ease 0s;
          &:hover {
            text-shadow: 0px 0px 20px $primary_color;
            transition: all 0.4s ease 0s;
          }
          i {
            margin: 25px 12px;
            background-color: transparent;
            color: $secondary_color;
            font-size: 35px;
          }
        }
      }
      .background-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .stars {
          background: #000
            url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png")
            repeat;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          z-index: 0;
        }

        .twinkling {
          width: 10000px;
          height: 100%;
          background: transparent
            url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
            repeat;
          background-size: 1000px 1000px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          animation: move-background 70s linear infinite;
        }

        .clouds {
          width: 10000px;
          height: 100%;
          background: transparent
            url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
            repeat;
          background-size: 1000px 1000px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
          animation: move-background 50s linear infinite;
        }
      }
    }
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
